<h1>Récapitulatif de la demande</h1>
<div *ngIf="displayData" class="row col-12">
  <div class="card w-100 my-3">
      <div class="card-header d-flex justify-content-between"><h3>Votre Offre Actuelle</h3></div>
      <div class="card-body">
        <div class="row col-12">
          <h4 class="col-12">{{ offre.libelle }}</h4>
          <p class="col-12">{{ offre.description }}</p>
        </div>
      </div>
    </div>
  <div class="card w-100 my-3">
    <div class="card-header d-flex justify-content-between"><h3>Votre Nouvelle Offre</h3></div>
    <div class="card-body">
      <div class="row col-12">
        <h4 class="col-12">{{ new_offre.libelle }}</h4>
        <p class="col-12">{{ new_offre.description }}</p>
      </div>
    </div>
  </div>
  <div class="card w-100 my-3">
      <div class="card-header d-flex justify-content-between"><h3>Votre Option</h3></div>
      <div class="card-body">
        <div class="row col-12">
          <h4 class="col-12">{{ option.nomOption }}</h4>
          <p class="col-12">{{ option.nomOption }} : {{ option.montantAnnuelEstime }}€/an (optimisé à {{ option.montantAnnuelOptimise }}€/an)</p>
        </div>
      </div>
    </div>
    <div class="mx-auto">
      <button type="button" class="btn btn-danger m-4 text-light" routerLink="/">Abandonner</button>
      <button class="btn btn-success m-4 text-light" data-toggle="modal" (click)="save()" >Confirmer</button>
    </div>
</div>