<!--The content below is only a placeholder and can be replaced.-->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a routerLink="/" class="navbar-brand">POC Acacia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!model.user.isAuthenticated">
          <a class="nav-link" routerLink="/login">Se connecter</a>
        </li>
        <li class="nav-item" *ngIf="model.user.isAuthenticated">
          <span class="nav-link text-light">{{model.user.login}}</span>
        </li>
        <li class="nav-item" *ngIf="model.user.isAuthenticated">
          <button class="nav-link btn btn-link btn-sm" (click)="logout()">Se déconnecter</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <!-- /.col-lg-3 -->
    <div class="col-lg-12">

      <router-outlet (activate)="onActivate($event)"></router-outlet>

    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
<p-dialog header="Une erreur technique est survenue." [(visible)]="showError" [modal]="true" [responsive]="true" [width]="700" [minWidth]="200"
  [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <pre>{{errorMsg}}</pre>
</p-dialog>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">POC Acacia - 13/08/2018</p>
  </div>
  <!-- /.container -->
</footer>
