<h1>Suivi des demandes clients</h1>

<p-table [columns]="cols" [value]="tabProcess" dataKey="idLogement" [(selection)]="selectedProcess">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 2.25em"></th>
            <th style="width: 2.25em"></th>
            <th *ngFor="let col of columns">
                {{ col }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td>
                <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
            </td>
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-circle-down' : 'pi pi-chevron-circle-right'" style="font-size: 1.25em"></i>
                </a>
            </td>
            <td>{{ tabLogement[rowData.idLogement].type }}, {{ tabLogement[rowData.idLogement].surface }} m²</td>
            <td>{{ tabOffre[rowData.idAncienneOffre].libelle }}</td>
            <td>{{ tabOffre[rowData.idNouvelleOffre].libelle }}</td>
            <td>{{ tabOption[rowData.idOption].libelle }}</td>
            <td class="text-center"><button class="btn btn-success">Valider</button> &nbsp; <button class="btn btn-danger">Refuser</button></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length + 2">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12">
                        <b>Logement :</b> <br>
                        {{ tabLogement[rowData.idLogement].type }}, {{ tabLogement[rowData.idLogement].surface }} m², {{ tabLogement[rowData.idLogement].nbOccupant }} pers. ({{ tabLogement[rowData.idLogement].statutOccupant }})<br/> 
                        - Chauffage : {{ tabLogement[rowData.idLogement].chauffage }}<br/> 
                        - Eau chaude : {{ tabLogement[rowData.idLogement].energieEauChaude }}
                    </div>
                    <div class="ui-g-12">
                        <b>Ancienne offre :</b> <br>
                        {{ tabOffre[rowData.idAncienneOffre].libelle }} : {{ tabOffre[rowData.idAncienneOffre].description }}
                    </div>
                    <div class="ui-g-12">
                        <b>Nouvelle offre :</b> <br>
                        {{ tabOffre[rowData.idNouvelleOffre].libelle }} : {{ tabOffre[rowData.idNouvelleOffre].description }}
                    </div>
                    <div class="ui-g-12">
                        <b>Option :</b> <br>
                        {{ tabOption[rowData.idOption].libelle }} : {{ tabOption[rowData.idOption].montant }}€ / an ({{ tabOption[rowData.idOption].typePrix=='Fixe'? tabOption[rowData.idOption].typePrix + ' pendant ' + tabOption[rowData.idOption].dureePrixFixe + ' mois' : tabOption[rowData.idOption].typePrix}})
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<br>