<div class="row">
  <div class="col-12 mt-3 row d-flex align-items-center">
    <div class="col-4 ">
      <img class="display-block" height="auto" width="100%" src="../../assets/img/particulier.png" alt="Espace particulier">
    </div>
    <div class="col-8">
      <p><b>Numéro BP :</b> {{ model.numeroBpContrat }} <br><b>Code logement PDL :</b> {{model.numeroPdlContrat}}</p>
    </div>
  </div>

  <form class="col-12 row" #logementForm="ngForm" (ngSubmit)="setLogement(logementForm)" novalidate>
    <div class="col-6 my-3">
      <div class="card">
        <div class="card-header">
          <h4>Logement</h4>
        </div>
        <div class="card-body">
          <div class="row col-12">
            <!-- Code postal -->
            <div class="form-group row col-6">
              <label for="codePostal" class="col-6 col-form-label">Code postal :</label>
              <div class="col-6">
                <input disabled type="text" class="form-control-plaintext" id="codePostal" #codePostal="ngModel" [(ngModel)]="adresse[model.clsAdresse].codePostal"
                  name="codePostal" class="form-control" required>
              </div>
            </div>
            <!-- Ville -->
            <div class="form-group row col-6">
              <label for="ville" class="col-6 col-form-label">Ville :</label>
              <div class="col-6">
                <input disabled type="text" class="form-control-plaintext" id="ville" #ville="ngModel" [(ngModel)]="adresse[model.clsAdresse].ville"
                  name="ville" class="form-control" required>
              </div>
            </div>
            <!-- Code INSEE -->
            <div class="form-group row col-6">
              <label for="codeInsee" class="col-6 col-form-label">Code INSEE :</label>
              <div class="col-6">
                <input disabled type="text" class="form-control-plaintext" id="codeInsee" #codeInsee="ngModel" [(ngModel)]="adresse[model.clsAdresse].codeInsee"
                  name="codeInsee" class="form-control" required>
              </div>
            </div>
            <!-- Lieudit -->
            <div class="form-group row col-6">
              <label for="lieudit" class="col-6 col-form-label">Lieudit :</label>
              <div class="col-6">
                <input disabled type="text" class="form-control-plaintext" id="lieudit" #lieudit="ngModel" [(ngModel)]="adresse[model.clsAdresse].lieuDit"
                  name="lieudit" class="form-control" required>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 my-3">
      <div class="card">
        <div class="card-header">
          <h3>Mon Offre</h3>
        </div>
        <div class="card-body">
          <div class="row col-12">
            <h4 class="col-12">{{ model.tabOffres[model.originalOffer].libelle }}</h4>
            <span class="col-12">{{ model.tabOffres[model.originalOffer].description }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 my-3">
      <div class="card w-100">
        <div class="card-header">
          <h4>Données du Logement</h4>
        </div>
        <div class="card-body">
          <div class="row col-12">
            <!-- Type logement -->
            <div class="form-group row col-6">
              <label for="type" class="col-6 col-form-label">Type de logement :</label>
              <div class="col-6">
                <div class="custom-control custom-radio" *ngFor="let typeLgmt of tabTypeLogement; let i = index">
                  <input type="radio" id="type{{i}}" name="type" value="{{typeLgmt.code}}" class="custom-control-input" [(ngModel)]="local[model.clsLocal].typeLogement">
                  <label class="custom-control-label" for="type{{i}}">{{ typeLgmt.label }}</label>
                </div>
              </div>
            </div>
            <!-- Type occupant -->
            <div class="form-group row col-6">
              <label for="statutOccupant" class="col-6 col-form-label">Type d'occupation :</label>
              <div class="col-6">
                <div class="custom-control custom-radio" *ngFor="let typeOccup of tabTypeOccupation; let i = index">
                  <input type="radio" id="statutOccupant{{i}}" name="statutOccupant" value="{{typeOccup.code}}" class="custom-control-input"
                    [(ngModel)]="local[model.clsLocal].typeOccupation">
                  <label class="custom-control-label" for="statutOccupant{{i}}">{{ typeOccup.label }}</label>
                </div>
              </div>
            </div>
            <!-- Surface -->
            <div class="form-group row col-6">
              <label for="surface" class="col-6 col-form-label">Surface : <input type="number" width="50" min="10" max="1000" name="surface" [(ngModel)]="local[model.clsLocal].surfaceHabitable" value="{{local[model.clsLocal].surfaceHabitable}}"> m²</label>
              <div class="col-6">
                <div class="slidecontainer">
                  <input type="range" min="10" max="1000" [(ngModel)]="local[model.clsLocal].surfaceHabitable" name="surface" class="form-control-range"
                    id="surface">
                </div>
              </div>
            </div>
            <!-- Nb occupant -->
            <div class="form-group row col-6">
              <label for="nbOccupant" class="col-6 col-form-label">{{ local[model.clsLocal].nombreOccupants }} occupant(s) :</label>
              <div class="col-6">
                <div class="slidecontainer">
                  <input type="range" min="0" max="20" [(ngModel)]="local[model.clsLocal].nombreOccupants" name="nbOccupant" class="form-control-range"
                    id="nbOccupant">
                </div>
              </div>
            </div>
            <!-- Type résidence -->
            <div class="form-group row col-6">
              <label for="typeResidence" class="col-6 col-form-label">Type de résidence :</label>
              <div class="col-6">
                <div class="custom-control custom-radio" *ngFor="let typeResi of tabTypeResidence; let i = index">
                  <input type="radio" id="typeResidence{{i}}" name="typeResidence" value="{{typeResi.code}}" class="custom-control-input" [(ngModel)]="local[model.clsLocal].typeResidence">
                  <label class="custom-control-label" for="typeResidence{{i}}">{{ typeResi.label }}</label>
                </div>
              </div>
            </div>
            <!-- Année construction -->
            <div class="form-group row col-6">
              <label for="annee" class="col-6 col-form-label">Année de construction :</label>
              <div class="col-6">
                <input type="number" class="form-control-plaintext" id="annee" #annee="ngModel" [(ngModel)]="local[model.clsLocal].anneeConstruction"
                  name="annee" class="form-control" required>
              </div>
            </div>
            <!-- Classe énergétique -->
            <div class="form-group row col-6">
              <label for="classeEnergetique" class="col-6 col-form-label">Classe énergétique :</label>
              <div class="col-6">
                <select class="custom-select" [(ngModel)]="local[model.clsLocal].classeEnergetique" name="classeEnergetique">
                  <option *ngFor="let ref of tabTypeClasseEnergetique" value="{{ref.code}}">{{ref.label}}</option>
                </select>
              </div>
            </div>
            <!-- Chauffage -->
            <div class="form-group row col-6">
              <label for="chauffage" class="col-6 col-form-label">Chauffage principal :</label>
              <div class="col-6">
                <select class="custom-select" [(ngModel)]="local[model.clsLocal].energieChauffagePrincipal" name="chauffage">
                  <option *ngFor="let ref of tabTypeEnergie" value="{{ref.code}}">{{ref.label}}</option>
                </select>
              </div>
            </div>
            <!-- Equipement chauffage -->
            <div class="form-group row col-6">
              <label for="equipmentChauffage" class="col-6 col-form-label">Équipement de chauffage principal :</label>
              <div class="col-6">
                <select class="custom-select" [(ngModel)]="local[model.clsLocal].equipementChauffagePrincipal" name="equipmentChauffage">
                  <option *ngFor="let ref of tabEquipementChauffage" value="{{ref.code}}">{{ref.label}}</option>
                </select>
              </div>
            </div>
            <!-- Présence gaz -->
            <div class="form-group row col-6">
              <label class="col-6 col-form-label">Présence gaz : </label>
              <div class="col-6">
                <div class="custom-control custom-radio">
                  <input type="radio" id="presenceAlimentationGaz1" name="presenceAlimentationGaz" value='true' class="custom-control-input"
                    [(ngModel)]="local[model.clsLocal].presenceAlimentationGaz">
                  <label class="custom-control-label" for="presenceAlimentationGaz1">Oui</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="presenceAlimentationGaz2" name="presenceAlimentationGaz" value='false' class="custom-control-input"
                    [(ngModel)]="local[model.clsLocal].presenceAlimentationGaz">
                  <label class="custom-control-label" for="presenceAlimentationGaz2">Non</label>
                </div>
              </div>
            </div>
            <!-- Chauffage secondaire-->
            <div class="form-group row col-6">
              <label for="chauffageSecondaire" class="col-6 col-form-label">Chauffage secondaire :</label>
              <div class="col-6">
                <select class="custom-select" [(ngModel)]="local[model.clsLocal].energieChauffageSecondaire" name="chauffageSecondaire">
                  <option *ngFor="let ref of tabTypeEnergie" value="{{ref.code}}">{{ref.label}}</option>
                </select>
              </div>
            </div>
            <!-- Eau chaude -->
            <div class="form-group row col-6">
              <label for="energieEauChaude" class="col-6 col-form-label">Eau chaude sanitaire :</label>
              <div class="col-6">
                <select class="custom-select" [(ngModel)]="local[model.clsLocal].energieEauChaudeSanitaire" name="energieEauChaude">
                  <option *ngFor="let ref of tabEnergieEau" value="{{ref.code}}">{{ ref.label }}</option>
                </select>
              </div>
            </div>
            <!-- Présence piscine -->
            <div class="form-group row col-6">
              <label class="col-6 col-form-label">Présence d'une piscine : </label>
              <div class="col-6">
                <div class="custom-control custom-radio">
                  <input type="radio" id="presencePiscine1" name="presencePiscine" value='true' class="custom-control-input" [(ngModel)]="local[model.clsLocal].presencePiscine">
                  <label class="custom-control-label" for="presencePiscine1">Oui</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="presencePiscine2" name="presencePiscine" value='false' class="custom-control-input" [(ngModel)]="local[model.clsLocal].presencePiscine">
                  <label class="custom-control-label" for="presencePiscine2">Non</label>
                </div>
              </div>
            </div>
            <!-- Type chauffage piscine -->
            <div *ngIf="tabBoolean['' + local[model.clsLocal].presencePiscine]" class="form-group row col-6">
              <label for="chauffagePiscine" class="col-6 col-form-label">Chauffage de la piscine :</label>
              <div class="col-6">
                <select class="custom-select" [(ngModel)]="local[model.clsLocal].chauffagePiscine" name="chauffagePiscine">
                  <option *ngFor="let ref of tabEnergieChauffagePiscine" value="{{ref.code}}">{{ref.label}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="btn btn-danger m-4 text-light" data-toggle="modal" data-target="#cancelModal">Annuler la demande</span>
    <!--button class="btn btn-secondary m-4 text-light" routerLink="/details">Annuler les modifications</button-->
    <button class="btn btn-primary m-4 text-light">Enregistrer les modifications <i class="pi pi-chevron-right"></i></button>
  </form>
</div>


<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Annuler une demande</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body">
        <p>Voulez vous vraiment annuler cette demande ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="cancelDemande()">Oui</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
      </div>
    </div>
  </div>
</div>
