<div class="row">
  <!-- TODO: afficher le vrai identifiant -->
  <h2 class="col-12 my-3">Mon Identifiant : 0633184a</h2> 
  <div class="card w-100">
    <div class="card-header"><h3>Mon Offre</h3></div>
    <div class="card-body">
      <div class="row col-12">
        <h4 class="col-12">{{ offre.libelle }}</h4>
        <p class="col-12">{{ offre.description }}</p>
      </div>
    </div>
  </div>

  <div class="card w-100 my-3">
    <div class="card-header d-flex justify-content-between"><h3>Mon Logement </h3><a (click)="modifLogement()" class='btn btn-primary text-light'>Modifier</a></div>
    <div class="card-body">
      <div class="row col-12">
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Code Postal :</label>
          <span>{{ logement.codePostal || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Ville :</label>
          <span>{{ logement.ville || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Type de logement :</label>
          <span>{{ logement.type || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Statut Occupant :</label>
          <span>{{ logement.statutOccupant || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Surface Habitable :</label>
          <span>{{ logement.surface || '-' }} m²</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Nombre d’occupants :</label>
          <span>{{ logement.nbOccupant || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Type de chauffage :</label>
          <span>{{ logement.chauffage || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Année de construction :</label>
          <span>{{ logement.annee || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Classe Energétique :</label>
          <span>{{ logement.classeEnergetique || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Type Résidence :</label>
          <span>{{ logement.typeResidence || '-' }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card w-100">
    <div class="card-header d-flex justify-content-between"><h3>Mes équipements </h3></div>
    <div class="card-body">
      <div class="row col-12">
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Présence Gaz :</label>
          <span>{{ logement.gaz? 'Oui': 'Non' || 'Non communiqué' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Type Chauffage Alternatif :</label>
          <span>{{ logement.chauffageAlternatif || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Energie Eau Chaude Sanitaire :</label>
          <span>{{ logement.energieEauChaude || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Véhicule Electrique :</label>
          <span>{{ logement.vehiculeElectrique? 'Oui': 'Non' || 'Non communiqué' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Piscine Chauffée Electriquement  :</label>
          <span>{{ logement.piscineElectrique? 'Oui': 'Non' || 'Non communiqué' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Lave-Vaisselle  :</label>
          <span>{{ logement.laveVaisselle? 'Oui': 'Non' || 'Non communiqué' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Sèche-Linge :</label>
          <span>{{ logement.secheLinge? 'Oui': 'Non' || 'Non communiqué' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Présence Climatisation  :</label>
          <span>{{ logement.climatisation? 'Oui': 'Non' || 'Non communiqué' }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="card w-100 my-3">
    <div class="card-header d-flex justify-content-between"><h3>Votre Nouvelle Offre</h3></div>
    <div class="card-body">
      <div class="row col-12">
        <h4 class="col-12">{{ newOffre.libelle }}</h4>
        <p class="col-12">{{ newOffre.description }}</p>
      </div>
      <div class="row col-12">
        <form class="w-100" #offreForm="ngForm" (ngSubmit)="setOffre()">
          <h4 class="col-12">Options :</h4>
          <div class="custom-control custom-radio col-12" *ngFor="let option of options;let i = index">
            <input type="radio" id="opt{{i}}" name="opts" [(ngModel)]="selectedOptionIndex" value="{{i}}" class="custom-control-input">
            <label class="custom-control-label" for="opt{{i}}">{{ option.libelle }} : {{ option.montant }}€ / an ({{ option.typePrix=='Fixe'? option.typePrix + ' pendant ' + option.dureePrixFixe + ' mois' : option.typePrix}}), délais de prévenance de {{ option.delaisPrevenance }} jours</label>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger m-4 text-light" routerLink="/">Annuler</button>
            <button class="btn btn-primary m-4 text-light" [disabled]="!selectedOptionIndex">Valider</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
