<div class="row">
  <h2 class="col-12 my-3">Mon numéro PDL : {{model.numeroPdlContrat}}</h2>

  <div class="alert alert-warning fade in alert-dismissible w-100 show" *ngIf="existingProcess">
    <strong>Attention!</strong> Vous avez déja une demande en cours, veuillez la terminer.
  </div>

  <div class="card w-100">
    <div class="card-header">
      <h3>Mon Offre</h3>
    </div>
    <div class="card-body">
      <div class="row col-12">
        <h4 class="col-12">{{ offre.libelle }}</h4>
        <p class="col-12">{{ offre.description }}</p>
      </div>
    </div>
  </div>

  <div class="card w-100 my-3">
    <div class="card-header d-flex justify-content-between">
      <h3>Mon Logement </h3><a (click)="modifLogement()" class='btn btn-primary text-light'>Modifier</a></div>
    <div class="card-body">
      <div class="row col-12">
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Code Postal :</label>
          <span>{{ adresse[model.clsAdresse].codePostal || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Ville :</label>
          <span>{{ adresse[model.clsAdresse].ville || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Code INSEE :</label>
          <span>{{ adresse[model.clsAdresse].codeInsee || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Lieudit :</label>
          <span>{{ adresse[model.clsAdresse].lieuDit || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Type de logement :</label>
          <span>{{ referentiel.typeLogement[local[model.clsLocal].typeLogement] || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Type d'occupation :</label>
          <span>{{ referentiel.typeOccupation[local[model.clsLocal].typeOccupation] || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Surface Habitable :</label>
          <span>{{ local[model.clsLocal].surfaceHabitable || '-' }} m²</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Nombre d’occupants :</label>
          <span>{{ local[model.clsLocal].nombreOccupants }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Année de construction :</label>
          <span>{{ local[model.clsLocal].anneeConstruction || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Classe Energétique :</label>
          <span>{{ referentiel.classeEnergetique[local[model.clsLocal].classeEnergetique] || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Type Résidence :</label>
          <span>{{ referentiel.typeResidence[local[model.clsLocal].typeResidence] || '-' }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card w-100">
    <div class="card-header d-flex justify-content-between">
      <h3>Mes équipements </h3>
    </div>
    <div class="card-body">
      <div class="row col-12">
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Type de chauffage :</label>
          <span>{{ referentiel.energieChauffage[local[model.clsLocal].energieChauffagePrincipal] || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Équipement de chauffage principal:</label>
          <span>{{ referentiel.equipementChauffage[local[model.clsLocal].equipementChauffagePrincipal] || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Présence Gaz :</label>
          <span>{{ local[model.clsLocal].presenceAlimentationGaz? 'Oui': 'Non' || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Type Chauffage Alternatif :</label>
          <span>{{ referentiel.energieChauffage[local[model.clsLocal].energieChauffageSecondaire] || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Energie Eau Chaude Sanitaire :</label>
          <span>{{ referentiel.energieChauffeEau[local[model.clsLocal].energieEauChaudeSanitaire] || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Présence d'une piscine :</label>
          <span>{{ local[model.clsLocal].presencePiscine? 'Oui': 'Non' || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Type de chauffage de la piscine :</label>
          <span>{{ referentiel.energieChauffagePiscine[local[model.clsLocal].chauffagePiscine] || '-' }}</span>
        </div>
        <!-- <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Véhicule Electrique :</label>
          <span>{{ local[model.clsLocal].vehiculeElectrique? 'Oui': 'Non' || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Lave-Vaisselle  :</label>
          <span>{{ local[model.clsLocal].laveVaisselle? 'Oui': 'Non' || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Sèche-Linge :</label>
          <span>{{ local[model.clsLocal].secheLinge? 'Oui': 'Non' || '-' }}</span>
        </div>
        <div class="col-6 d-flex justify-content-between">
          <label class="font-weight-bold">Présence Climatisation  :</label>
          <span>{{ local[model.clsLocal].climatisation? 'Oui': 'Non' || '-' }}</span>
        </div> -->
      </div>
    </div>
  </div>

  <div class="card w-100 my-3">
    <div class="card-header d-flex justify-content-between">
      <h3>Votre Nouvelle Offre</h3>
    </div>
    <div class="card-body">
      <div class="row col-12">
        <h4 class="col-12">{{ newOffre.libelle }}</h4>
        <p class="col-12">{{ newOffre.description }}</p>
      </div>
      <div class="row col-4 offset-4" *ngIf="model.ongoingSimulation">
        <div class="loader"></div>
      </div>
      <div class="row col-12" *ngIf="!model.ongoingSimulation">
        <form class="w-100" #offreForm="ngForm" (ngSubmit)="setOffre()">
          <h4 class="col-12">Options :</h4>
          <div class="custom-control custom-radio col-12" *ngFor="let option of options;let i = index">
            <input type="radio" id="opt{{i}}" name="opts" [(ngModel)]="selectedOptionIndex" value="{{i}}" class="custom-control-input">
            <label class="custom-control-label" for="opt{{i}}">{{ option[model.clsOption].nomOption }} : {{ option[model.clsOption].facture[model.clsFacture].montantAnnuelEstime }}€/an (optimisé à {{ option[model.clsOption].facture[model.clsFacture].montantAnnuelOptimise }}€/an)</label>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger m-4 text-light" routerLink="/">Annuler</button>
            <button class="btn btn-primary m-4 text-light" [disabled]="!selectedOptionIndex">Valider</button>
            <button class="btn btn-primary m-4 text-light" [disabled]="!selectedOptionIndex" (click)="goPanier()">Aller au panier</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
